---
---

$font-family: 'Source Sans Pro', sans-serif;
$monospace-font: 'Source Code Pro', monospace;
$blackish: #3c3c3c;

body {
    margin: 0;
    font-family: $font-family;
    color: $blackish;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
}

h1 {
    font-size: 2.5em;
}

p {
    line-height: 1.5;
    font-size: 1.2em;
}

figure {
    margin: 0;
}

code {
    font-family: $monospace-font;
}

@import "solarized";